body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: "Play", sans-serif;}

header {
    background-color: rgb(225, 225, 225, 0.15);
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-color: lightslategray;
    border-style: double;
    border-width: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
}

header div a {
    text-decoration: none;
    color: mediumspringgreen;
}

header div {
    height: 75px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;}

header nav ul li {
    padding: 0 10px;}

header nav ul li a {
    color: white;
    text-decoration: none;}

#page-links:hover {
    text-decoration: underline;
}
#main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 20vh 15vh;
    text-align: center;
    font-size: 22px;
}

#main img {
    max-width: 35vw;
    margin-left: 5vw;
    border-radius: 10px;
}
#projects {
    display: flex;
    justify-content: center;
}
#project-hr {
    border-color: lightslategray;
    width: 85vh;
}
#button {
    color:white;
    background-color: grey;
    font-family: "Play", "sans-serif"; 
    font-size: 20px;
    border-radius: 15px;
    width: 150px;
    height: auto;
    border-color: mediumspringgreen;
    margin-top: 15px;
}
#button:hover {
    cursor: pointer;
    background-color: black;
    color: mediumspringgreen;
    border-color: white;
} 
.listing {
    display: flex;
    flex-direction: column;
    margin: 5vh 20vw;
}


.listing h3 {
    color: rgb(176, 238, 176);
}
#label {
    display: flex;
    flex-direction: row;
    padding: 15px 20px;
    background-color:  rgb(225, 225, 225, 0.15);
}
#label p {
    margin-top: 20px;
}
#verticalhr {
    border-color: rgb(225, 225, 225, 0);
}
#form {
    color: lightslategray;
    background-color:  rgb(225, 225, 225, 0.15);
    width: 50vh;
    padding: 25px 25px;
    margin: 15px 0;
}
.infobox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
.messagebox {
    display: flex;
    flex-direction: column;
}
input {
    margin: 0 10px;
}
.messagebox label {
    text-align: center;
}
textarea {
    justify-content: center;
    margin: 10px 0;
}
#Send {
    color:white;
    background-color: lightslategray;
    font-family: "Play", "sans-serif"; 
    font-size: 20px;
    border-radius: 15px;
    width: 150px;
    height: auto;
    border-color: mediumspringgreen;
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 15px;
}
#Send:hover {
    cursor: pointer;
    background-color: black;
    color: mediumspringgreen;
    border-color: white;

}
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: lightslategray;
}
#form h2 {
    text-align: center;
}
label {
    font-size: 20px;
}
.infomain {
    margin-left: 5vw;
    margin-right:5vw;
}
.infomain p {
    font-size: 22p;
}